body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.presentacion{
    text-align: center;
}

.navegacion .nav {
    background: #444;
    text-align: center;
    padding: 10px 0;
}

.navegacion a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.navegacion a:hover {
    background-color: #555;
}

.sobre-bg {
    background-color: #ddd;
    padding: 20px;
    margin: 20px 0;
}

.sobre-bg h2 {
    color: #333;
}

.sobre-bg p {
    text-align: justify;
}

#duras, #blandas {
    background-color: #eee;
    padding: 20px;
    margin: 20px 0;
}

#duras h2, #blandas h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #333;
}

.contacto {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.contacto h2 {
    color: #333;
}

.informacion-contacto p {
    margin-bottom: 10px;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.redes-sociales a:hover {
    text-decoration: underline;
}
